<div class="container">
  <h1>CoreForex Risk Warnings & Disclaimer </h2> 
  <p>
Trading foreign exchange on margin carries a high level of risk and may not be suitable for all investors.  The possibility exists that you could sustain a loss in excess of your initial investment.  
  </p>
  <p>
Any and all opinions, research, and analysis contained within this website is given as general commentary and does not constitute investment advice. The website, ForexFax.com,  will not accept liability for any loss or damage including, without limitation, to any loss of profit which may arise directly or indirectly from use of or reliance on such information. Past performance is not indicative of future results. 
  </p>
  <p>
Content published herein is subject to change at any time and is provided for the sole purpose of assisting traders to make independent investment decisions. ForexFax has taken reasonable measures to ensure the accuracy of the information on the website; however, it does not guarantee accuracy and will not accept liability for any loss or damage which may arise directly or indirectly from the content or from your inability to access the website, or for any delay in or failure of the transmission or the receipt of any instruction or notifications sent through this website.
  </p>
  <p>
This site is not intended for distribution or use by any person in any country where such distribution or use would be contrary to local law or regulation. None of the services or investments referred to in this website are available to persons residing in any country where the provision of such services or investments would be contrary to local law or regulation. It is the responsibility of visitors to this website to ascertain the terms of and comply with any local law or regulation to which they are subject.
  </p>
  <p>
Links to third-party sites are provided for your convenience. Such sites are not within our control and may not follow the same privacy, security, or accessibility standards as ours. ForexFax.com neither endorses nor guarantees offerings of the third party providers, nor is ForexFax.com responsible for the security, content or availability of third-party sites, their partners or advertisers.
  </p>


</div>
