@import "variables.scss"; 
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #f6f9fa; 
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px; 
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: white; 
      border-top: 1px solid #e9f0f3;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.4);
    padding: 20px ; 
}

.jumbotron {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white; 
}

.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.vertical-center {
  min-height: 50%;  /* Fallback for vh unit */
  min-height: 50vh; /* You might also want to use
                        is the <body> element */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.get-started-btn{
  background: $attn-color; 
  color: white; 
  border: 3px solid $attn-color; 
  border-radius: 4px;
  box-shadow: 2.5px 2.5px 1.7px #660014;
  &:hover{
    border: 3px solid $attn-hover; 
    background: $attn-hover; 
    color: white; 
  }
  &:active{
    border: 3px solid $attn-hover; 
    background: $attn-hover; 
    color: white; 
  }
}

h3{
  font-weight: 300;
}
