@import "variables.scss"; 

.info-section{
  background: white; 
  padding: 20px; 
}

.promo-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight:300; 
}

.promo-body{
  font-family: 'Lato', sans-serif;
  font-weight:300; 
}

.testimonials-box{
  margin-top: 20px; 
  padding-top: 20px ;
  padding-bottom: 20px ;
  background: $background-grey; 
}
